.card{
    border-radius: 8px;
    width: 25vw;
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: #d47b7b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px  rgba(0, 0, 0, 0.6);
}

.content{
    padding: 15px;
    text-align: justify;
}

.content h1{    
    text-align: left;
}


.img{
    width: 100%;
}

#iconeArrow{
    color: #fff;
}

#iconeArrow:hover{
    color:#535353;
}

