

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    border-radius: 8px;
    background-color: #fff;
    height: 17vh;

}

.container img{
    width: 100px;
}

.container li{
    display: inline;
    margin: 0 25px;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}

@media(max-width: 500px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img{
        display: none;
    }
}